# Content files — do not format
src/content/blog/**
src/content/posts/**
src/content/music/**
src/content/projects/**
src/content/work/**

node_modules
build
dist
.cache
.vercel
.vscode
public
.astro
.env*
.git
pnpm-lock.yaml
package-lock.json
yarn.lock