---
import { type CollectionEntry, getCollection } from "astro:content";
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import PostHeader from "@components/PostHeader.astro";
import TagLinks from "@components/TagLinks.astro";


export async function getStaticPaths() {
  const posts = (await getCollection("blog"))
    .filter(post => !post.data.draft)
    .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}


type Props = CollectionEntry<"blog">;


const post = Astro.props;
const { Content } = await post.render();


// Ensure description is always a string
const description = post.data.description || "";

---

<PageLayout title={post.data.title} description={description}>
  <Container>
    <!-- <div class="animate">
      <BackToPrev href="/blog">
        Back to blog
      </BackToPrev>
    </div> -->
    
    <PostHeader entry={post}/>

    <!-- Content of blog begins here -->
    <article class="animate">
      <Content />
    </article>

    <!-- <hr class="animate"> -->
    
    <TagLinks post={post}/>

  </Container>
</PageLayout>


<!-- 
<div id="next_post">
  <a href="#">Next Post</a>
</div> -->
