---
// Component Imports
import type { CollectionEntry } from 'astro:content';
import PostHeader from './PostHeader.astro';
import TagLinks from './TagLinks.astro';

type Props = {
  entry: CollectionEntry<'blog'>;
};

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<div id="Postcard" class="mb-10 dark:bg-zinc-800">
  <PostHeader entry={entry} />
  <!-- todo:concat the content and add a read more button -->
  <article>
    <Content />
  </article>
  <TagLinks post={entry}/>
</div>
